*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

header, .container-bottoni, .container-content{
    background-color: white;
    
}

.img-logo-header{
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    line-height: 1;
    vertical-align: middle;

    
}

.titolo-header{
    display: inline-block;
    vertical-align: middle;
    
}

.container-bottoni{
    margin: 50px 20%;
    margin-bottom: 2px;

}

button{
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.add-task{
    margin-left: 25px;
}

.container-content{
    margin-left: 20%;
    margin-right: 20%;

}

.titolo-lista{
    padding-top: 20px;
    margin-left: 25px;
    
}

li{
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
}

