*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: lightgray;
    font-family: 'Roboto', sans-serif;
}

header{
    padding: .6em;
}


header, .container-bottoni, .container-content{
    background-color: white;
    
}

.img-logo-header{
    vertical-align: middle;
    
}

.titolo-header{
    display: inline-block;
    vertical-align: middle;
    
}

.container-bottoni{
    margin: 50px 20%;
    margin-bottom: 2px;
    border-radius: 5px 5px 0px 0px;

}

button{
    padding: 8px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 8px; 
    border-style: none;
}

.add-task{
    background-color: #2596ff;
    color: white;
    margin-left: 5%;
    border: 0.5px solid #2596ff;
}

.add-section{
    background-color: white;
    color: lightgrey;
    border: 0.5px solid lightgrey;

}

.container-content{
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 40px;
    border-radius: 0px 0px 5px 5px;

}

.titolo-lista{
    padding-top: 50px;
    margin-left: 25px;
    
}

.arrow{
    font-size: 0.8em;
}

li{
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
    line-height: 2.5;
    font-weight: 500;
}

.checkmark, .cross{
    border-radius: 50%;
    padding: 2px;
    display: inline-block;
    margin: 5px;
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 1;
    vertical-align: middle;

}

.checkmark{
    color: green;
    border: 2px solid green;
   
}

.cross{
    color: red;
    border: 2px solid red;
    

}

.tags{
    font-size: 0.8rem;
    padding: 10px;
    color: white;
    border-radius: 15px;


}

.tag-editorial{
    
    background-color: #2596ff;

}

.tag-Q1_goals{
   
    background-color: #8a6ae4;
   
}

.tag-recruiting{
   
    background-color: #0f9250;
   

}

.tag-mobile{
    
    background-color: #ff4500;
   
}

.tag-website{
    
    background-color: #f08395;
    

}

.tag-sales{
   
    background-color: #9aeb20;
    

}

.last-list{
    padding-bottom: 25px;
}